@import '@/assets/scss/variables/colors';

@function getDesktopHeadingsIndent($headingIndentAccordingLayout) {
  @return $headingIndentAccordingLayout - map-get(map-get($content-text, desktop), indent-top)
}

@function getMobileHeadingsIndent($headingIndentAccordingLayout) {
  @return $headingIndentAccordingLayout - map-get(map-get($content-text, mobile), indent-top)
}

$content-block-paddings: (
  desktop: (
    top: 64px,
    right: 56px,
    bottom: 32px,
    left: 56px,
  ),
  mobile: (
    top: 48px,
    right: 17px,
    bottom: 32px,
    left: 17px,
  ),
);

$content-text: (
  color: $black,
  desktop: (
    font-size: 16px,
    line-height: 1.4,
    font-weight: 400,
    indent-top: 16px,
    indent-left: 0,
  ),
  mobile: (
    font-size: 14px,
    indent-top: 16px,
    indent-left: 0,
  ),
);

$content-headings: (
  color: $black,
  desktop: (
    font-size: 14px,
    font-weight: 700,
    line-height: 22px,
    indent-top: getDesktopHeadingsIndent(32px), // передать сюда отступ заголовков из макета
    indent-bottom: 24px,
    indent-left: 0,
  ),
  mobile: (
    font-size: 14px,
    indent-top: getMobileHeadingsIndent(32px), // передать сюда отступ заголовков из макета
    indent-bottom: 24px,
    indent-left: 0,
  ),
);

$content-list: (
  desktop: (
    ol-padding-left: 20px,
    ul-padding-left: 20px,
  ),
  mobile: (
    ol-padding-left: 13px,
    ul-padding-left: 13px,
  ),
  marker: (
    size: 4px,
    radius: 50%,
    color: $black,
    desktop: (
      top: 8px,
      left: 8px,
    ),
    mobile: (
      top: 7px,
      left: 1px,
    ),
  ),
  number: (
    desktop: (
      left: 0,
    ),
    mobile: (
      left: 0,
    ),
  ),
);

