@import '@/assets/scss/variables/colors';

@function getHeadingsIndent($headingIndentAccordingLayout) {
  @return $headingIndentAccordingLayout - $text-indent-top
}

@function getMobileHeadingsIndent($headingIndentAccordingLayout) {
  @return $headingIndentAccordingLayout - $text-indent-top-mobile
}

// content-block
// desktop
$content-block-padding-top: 70px;
$content-block-padding-right: 29px;
$content-block-padding-bottom: 69px;
$content-block-padding-left: 29px;
// mobile
$content-block-padding-top-mobile: 40px;
$content-block-padding-right-mobile: 10px;
$content-block-padding-bottom-mobile: 35px;
$content-block-padding-left-mobile: 23px;


// font properties
$text-color: $black;
// desktop
$text-indent-top: 20px;
$text-font-size: 18px;
$text-line-height: 1.3;
$text-font-weight: 400;
// mobile
$text-indent-top-mobile: 15px;
$text-font-size-mobile: 14px;


// headings
$headings-color: $black;
// desktop
$headings-font-size: 25px;
$headings-font-weight: 400;
$headings-line-height: normal;
$heading-top-indent: getHeadingsIndent(70px); // передать сюда отступ заголовков из макета
$heading-bottom-indent: 30px;
// mobile
$headings-font-size-mobile: 21px;
$heading-top-indent-mobile: 35px;
$heading-bottom-indent-mobile: 15px;

$heading-top-indent-mobile: getMobileHeadingsIndent(32px); // передать сюда отступ заголовков из макета

// lists
$ol-padding-left: 20px;
$ul-padding-left: 20px;
$marker-size: 4px;
$marker-radius: 50%;
$marker-top: 8px;
$marker-left: 3px;
$number-left: 0;
