@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';
@import '@/assets/scss/variables/content-block-vars';

.tmpl-hh-wrapper {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 1px 1px 15px #000;
}

.hht-vacancydescription {
  padding: 0 !important;
}

.vacancy-branded-user-content {
  ul,
  ol {
    margin-left: 0;
  }
  
  p {
    
    &:first-child {
      margin-top: 0 !important;
      
      b,
      strong {
        margin-top: 0 !important;
      }
    }
  }
}

#{$wrapper} {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 690px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  font-size: map-get(map-get($content-text, desktop), font-size);
  font-weight: map-get(map-get($content-text, desktop), font-weight);
  font-style: normal;
  line-height: map-get(map-get($content-text, desktop), line-height);
  color: map-get($content-text, color);
  
  @media (max-width: #{$mediaSM}) {
    font-size: map-get(map-get($content-text, mobile), font-size);
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  sup {
    vertical-align: top;
  }
}

#{$content} {
  ol,
  ul {
    li {
      
      &:not(:first-child) {
        margin-top: map-get(map-get($content-text, desktop), indent-top);
        
        @media (max-width: $mediaSM) {
          margin-top: map-get(map-get($content-text, mobile), indent-top);
        }
      }
      
      p {
        margin: 0 !important;
        
        b,
        strong {
          display: initial;
          margin: 0 !important;
          font-size: inherit !important;
          font-weight: 700;
          text-transform: none;
          color: inherit !important;
        }
      }
      
      em {
        font-style: normal !important;
        
        b,
        strong {
          display: inherit;
          font-size: inherit;
          font-weight: 700;
          font-style: normal !important;
          text-transform: none;
          color: inherit;
        }
      }
      
      b,
      strong {
        margin: 0 !important;
        font-size: inherit !important;
        font-weight: 700;
        text-transform: none;
        color: inherit !important;
      }
    }
  }
  
  p {
    margin-top: map-get(map-get($content-text, desktop), indent-top);
    
    &:first-child {
      padding-top: 0 !important;
      margin-top: 0 !important;
      
      b, strong {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }
    }
    
    &:last-child {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      
      b,
      strong {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
      }
    }
    
    @media (max-width: #{$mediaSM}) {
      margin-top: map-get(map-get($content-text, mobile), indent-top);
    }
    
    b,
    strong {
      display: inline-block;
      width: 100%;
      padding-top: map-get(map-get($content-headings, desktop), indent-top);
      padding-bottom: map-get(map-get($content-headings, desktop), indent-bottom);
      font-size: map-get(map-get($content-headings, desktop), font-size);
      font-weight: map-get(map-get($content-headings, desktop), font-weight);
      line-height: map-get(map-get($content-headings, desktop), line-height);
      color: map-get($content-headings, color);
      
      @media (max-width: #{$mediaSM}) {
        padding-top: map-get(map-get($content-headings, mobile), indent-top);
        padding-bottom: map-get(map-get($content-headings, mobile), indent-bottom);
        font-size: map-get(map-get($content-headings, mobile), font-size);
      }
    }
    
    em {
      font-style: normal !important;
      
      b,
      strong {
        display: inherit;
        padding: 0;
        font-size: inherit;
        font-weight: 700;
        font-style: normal !important;
        text-transform: none;
        background: transparent;
        color: inherit !important;
      }
    }
  }
  
  .l-paddings {
    padding: 0;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$wrapper} {
    max-width: 610px;
  }
  
}

@media (max-width: #{$mediaSM}) {
  #{$wrapper} {
  }
}
