@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';
@import '@/assets/scss/variables/content-block-vars';

.tmpl-hh-wrapper {
  box-shadow: 1px 1px 15px #000;
  border-radius: 4px;
  box-sizing: border-box;
}

.hht-vacancydescription {
  padding: 0 !important;
}

.vacancy-branded-user-content {
  ul,
  ol {
    margin-left: 0;
  }

  p {

    &:first-child {
      margin-top: 0 !important;

      b,
      strong {
        margin-top: 0 !important;
      }
    }
  }
}

#{$wrapper} {
  width: 100%;
  margin: 0 auto;
  max-width: 690px;
  position: relative;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: $text-font-weight;
  font-size: $text-font-size;
  line-height: $text-line-height;
  color: $text-color;

  @media (max-width: #{$mediaSM}) {
    font-size: $text-font-size-mobile;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  sup {
    vertical-align: top;
  }
}

#{$content} {
  ol,
  ul {
    li {

      &:not(:first-child) {
        margin-top: $text-indent-top;

        @media (max-width: $mediaSM) {
          margin-top: $text-indent-top-mobile;
        }
      }

      p {
        margin: 0 !important;

        b,
        strong {
          font-weight: 700;
          font-size: inherit !important;
          margin: 0 !important;
          text-transform: none;
          color: inherit !important;
          display: initial;
        }
      }

      em {
        font-style: normal !important;

        b,
        strong {
          text-transform: none;
          display: inherit;
          font-weight: 700;
          font-size: inherit;
          color: inherit;
          font-style: normal !important;
        }
      }

      b,
      strong {
        font-weight: 700;
        font-size: inherit !important;
        margin: 0 !important;
        text-transform: none;
        color: inherit !important;
      }
    }
  }

  p {
    margin-top: $text-indent-top;

    &:first-child {
      padding-top: 0 !important;
      margin-top: 0 !important;

      b, strong {
        padding-top: 0 !important;
        margin-top: 0 !important;
      }
    }

    &:last-child {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      b,
      strong {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
      }
    }

    @media (max-width: #{$mediaSM}) {
      margin-top: $text-indent-top-mobile;
    }

    b,
    strong {
      display: inline-block;
      width: 100%;
      font-weight: $headings-font-weight;
      font-size: $headings-font-size;
      line-height: $headings-line-height;
      color: $headings-color;
      padding-top: $heading-top-indent;
      padding-bottom: $heading-bottom-indent;

      @media (max-width: #{$mediaSM}) {
        font-size: $headings-font-size-mobile;
        padding-top: $heading-top-indent-mobile;
        padding-bottom: $heading-bottom-indent-mobile;
      }
    }

    em {
      font-style: normal !important;

      b,
      strong {
        text-transform: none;
        display: inherit;
        font-weight: 700;
        font-size: inherit;
        color: inherit !important;
        font-style: normal !important;
        background: transparent;
        padding: 0;
      }
    }
  }

  .l-paddings {
    padding: 0;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$wrapper} {
    max-width: 610px;
  }

}

@media (max-width: #{$mediaSM}) {
  #{$wrapper} {
  }
}
