@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';
@import '@/assets/scss/variables/content-block-vars';

#{$content} {
  padding-top: map-get(map-get($content-block-paddings, desktop), top);
  padding-right: map-get(map-get($content-block-paddings, desktop), right);
  padding-bottom: map-get(map-get($content-block-paddings, desktop), bottom);
  padding-left: map-get(map-get($content-block-paddings, desktop), left);
  
  p {
    padding-left: map-get(map-get($content-text, desktop), indent-left);
    
    strong {
      padding-left: map-get(map-get($content-headings, desktop), indent-left)
    }
  }
  
  ol,
  ul {
    li {
      position: relative;
      list-style-type: none;
    }
  }
  
  ol li {
    padding-left: map-get(map-get($content-list, desktop), ol-padding-left);
    
    &::before {
      position: absolute;
      left: map-get(map-get(map-get($content-list, number), desktop), left);
      content: counter(list-item) '.';
    }
  }
  
  ul li {
    padding-left: map-get(map-get($content-list, desktop), ul-padding-left);
    
    &::before {
      position: absolute;
      top: map-get(map-get(map-get($content-list, marker), desktop), top);
      left: map-get(map-get(map-get($content-list, marker), desktop), left);
      display: block;
      width: map-get(map-get($content-list, marker), size);
      height: map-get(map-get($content-list, marker), size);
      border-radius: map-get(map-get($content-list, marker), radius);
      background-color: map-get(map-get($content-list, marker), color);
      color: map-get($content-text, color);
      content: '';
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$content} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$content} {
    padding-top: map-get(map-get($content-block-paddings, mobile), top);
    padding-right: map-get(map-get($content-block-paddings, mobile), right);
    padding-bottom: map-get(map-get($content-block-paddings, mobile), bottom);
    padding-left: map-get(map-get($content-block-paddings, mobile), left);
    
    p {
      padding-left: map-get(map-get($content-text, mobile), indent-left);
      
      strong {
        padding-left: map-get(map-get($content-headings, mobile), indent-left)
      }
    }
    
    ol li {
      padding-left: map-get($content-list, modile), ol-padding-left;
      
      &::before {
        left: map-get(map-get(map-get($content-list, number), mobile), left);
      }
    }
    
    ul li {
      padding-left: map-get($content-list, modile), ul-padding-left;
      
      &:before {
        top: map-get(map-get(map-get($content-list, marker), mobile), top);
        left: map-get(map-get(map-get($content-list, marker), mobile), left);
      }
    }
  }
}
