@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';
@import '@/assets/scss/variables/content-block-vars';

#{$content} {
  padding-top: $content-block-padding-top;
  padding-right: $content-block-padding-right;
  padding-bottom: $content-block-padding-bottom;
  padding-left: $content-block-padding-left;
  
  ol,
  ul {
    li {
      position: relative;
      list-style-type: none;
    }
  }
  
  ol li {
    padding-left: $ol-padding-left;
  }
  
  ul li {
    padding-left: $ul-padding-left;
  }
  
  ul li::before {
    position: absolute;
    top: $marker-top;
    left: $marker-left;
    display: block;
    width: $marker-size;
    height: $marker-size;
    border-radius: $marker-radius;
    background-color: $black;
    content: '';
  }
  
  ol li::before {
    content: counter(list-item) '.';
    position: absolute;
    left: $number-left;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$content} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$content} {
    padding-top: $content-block-padding-top-mobile;
    padding-right: $content-block-padding-right-mobile;
    padding-bottom: $content-block-padding-bottom-mobile;
    padding-left: $content-block-padding-left-mobile;
  }
}
