@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';

#{$footer} {
  padding: 36px 0 10px;
  box-sizing: border-box;

  &__title {
    margin: 0 30px 32px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__copyright {
    opacity: 0.6;
    line-height: 1.4;
    font-size: 12px;
    color: $dark;
    padding: 32px 20px 0;

    ol {
      padding-left: 1.4em;
    }
  }

  &__slider-desktop-wrapper {
    position: relative;
  }

  &__slider-desktop {
    &-wrapper {
      height: auto;
    }

    &-slide {
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: calc(276 / 343 * 100%);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$footer} {}
}

@media (max-width: #{$mediaSM}) {
  #{$footer} {
    padding: 36px 0 30px;

    &__title {
      margin: 0 12px 24px;
    }

    &__copyright {
      padding: 20px 12px 0;
    }
  }
}