<div class="tmpl-hh-content">
    <div class="l-paddings b-vacancy-desc">
        <div class="vacancy-branded-user-content" itemprop="description" data-qa="vacancy-description">
            <p><strong>Мы предлагаем</strong></p>
            <ul>
                <li>Простую систему вознаграждения (без KPI), которая состоит из&#160;оплаты за&#160;количество встреч, оформленные продукты и&#160;дополнительные продажи на&#160;встрече.</li>
                <li>Среднее вознаграждение при достижении ключевых показателей по&#160;количеству встреч и&#160;продажам&#160;&#8212; 80&#160;000 &#8381;.Каждый десятый представитель в&#160;среднем получает 106&#160;000 &#8381;.За встречу в&#160;среднем 275&#160;&#8381;.</li>
                <li>
                    Телеграм-бот, в&#160;котором представитель видит детальную статистику по&#160;всем статьям своего дохода за&#160;каждый день.
                </li>
                <li>Дни оказания услуг согласовываются с&#160;заказчиком. Минимум 4&#160;дня в&#160;неделю: с&#160;15&#160;до&#160;23, с&#160;18&#160;до&#160;23, с&#160;8&#160;до&#160;20, с&#160;11&#160;до&#160;23. Можно совмещать с&#160;обучением и&#160;работой в&#160;свободные от&#160;выполнения функционала дни.</li>
                <li>Официальное оформление по&#160;гражданско-правовому договору (идет страховой стаж, есть отчисления в&#160;ПФР и&#160;ФСС&#160;РФ), страховку от&#160;несчастных случаев и&#160;болезней. Также возможно оформление по&#160;статусу самозанятый через 2&#160;месяца выполнения работ.</li>
                <li>Бесплатное обучение банковским продуктам и&#160;продажам, что позволит прокачиваться и&#160;увеличивать свой доход.</li>
                <li>Смартфон с&#160;приложением для выполнения функционала и&#160;сим-карту.</li>
                <li>Комфортный дресс-код: одежда однотонных расцветок или классических сочетаний.</li>
                <li>Специальные тарифы по&#160;картам Тинькофф банка, скидки на&#160;спорт, досуг, здоровье и&#160;многое другое от&#160;партнеров компании.</li>
            </ul>
            <p><strong>Что нужно делать</strong></p>
            <ul>
                <li>
                    Встречаться с&#160;клиентами лично: доставлять им&#160;карты банка и&#160;пакеты с&#160;документами.
                </li>
                <li>Рассказывать о&#160;выгоде и&#160;преимуществах выбранного продукта, предлагать и&#160;продавать дополнительные услуги и&#160;продукты.</li>
                <li>Постоянно развивать свои знания банковских продуктов и&#160;навыки продаж.</li>
            </ul>
            <p><strong>Что мы ценим</strong></p>
            <ul>
                <li>
                    Умение найти индивидуальный подход к&#160;клиенту и&#160;рассказать об&#160;актуальном для него продукте.
                </li>
                <li>Понимание техники продаж и&#160;готовность развивать этот навык.</li>
                <li>
                    Высокие коммуникативные навыки.
                </li>
                <li>Приветствуем опыт работы в&#160;сферах розничной торговли (торговый представитель, консультант) или доставки (курьер).</li>
            </ul>
        </div>
    </div>
    <hht:vacancy-description />
</div>