<div class="tmpl-hh-footer">
  <div class="tmpl-hh-footer__title">
    <picture>
      <source srcset="./assets/img/footer-title-sm.svg" media="(max-width: 699px)" />
      <img src="./assets/img/footer-title.svg" alt="" />
    </picture>
  </div>
  <div class="tmpl-hh-footer__slider-desktop-wrapper">
    <div class="tmpl-hh-footer__slider-desktop swiper">
      <div class="tmpl-hh-footer__slider-desktop-wrapper swiper-wrapper">
        <div class="tmpl-hh-footer__slider-desktop-slide swiper-slide">
          <img src="./assets/img/1.jpg" alt="" />
        </div>
        <div class="tmpl-hh-footer__slider-desktop-slide swiper-slide">
          <img src="./assets/img/2.jpg" alt="" />
        </div>
        <div class="tmpl-hh-footer__slider-desktop-slide swiper-slide">
          <img src="./assets/img/3.jpg" alt="" />
        </div>
        <div class="tmpl-hh-footer__slider-desktop-slide swiper-slide">
          <img src="./assets/img/4.jpg" alt="" />
        </div>
        <div class="tmpl-hh-footer__slider-desktop-slide swiper-slide">
          <img src="./assets/img/5.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="tmpl-hh-footer__copyright">
    <p>ООО МЕРКУРИ МОДА представляет бренд ЦУМ</p>
  </div>
</div>